.me-section .main-image{
    display: flex;
    margin: 0 auto;
    height:100vh;
    /* border: red solid 2px  ; */
    position: relative;
}
.me-section{
    position: relative;
    display: inline-block;
}

.me-section div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@keyframes slide-in {
  0% {
    filter:blur(0px); /* Start position, off-screen right */
  }
  25% {
    filter:blur(5px); /* Start position, off-screen right */
  }
  50% {
    filter:blur(10px); /* End position, on screen */
  }
   75% {
    filter:blur(5px); /* End position, on screen */
  }
  100%{
    filter: blur(0px);
    
  }
}


.me-section .bottom-left , .me-section .top-left , .me-section .bottom-right, .me-section .top-right {
    position: absolute;
    background: linear-gradient(45deg, #d7aa51, #d7aa51, #eada6ffe, #e0d76e, #FBF5B7);
    box-shadow: 0 0 80px 20px rgba(212, 175, 55, 0.8);
    animation-name: slide-in;
    animation-duration: 1s;
    animation-iteration-count: infinite; /* Makes the animation repeat indefinitely */    
}

.top-left { animation-delay: 0s; }
.top-right { animation-delay: 0.5s; }
.bottom-left { animation-delay: 1.2s; }
.bottom-right { animation-delay: 1.8s; }

.me-section .bottom-right{
    position: absolute;
    bottom:25.284450063%;
    left:63.040650407%;
    z-index: 1;
}

.me-section .bottom-left{
    position: absolute;
    bottom:15.284450063%;
    left:42.040650407%;
    z-index: 1;
}
.me-section .top-left{
    position: absolute;
    bottom:53.284450063%;
    left:40.040650407%;
    z-index: 1;
}
.me-section .top-right{
     position: absolute;
    bottom:42.284450063%;
    left:68.040650407%;
    z-index: 1;
}

.me-section .description > h3{
    color:#d6ca6b;
    font-family: 'Courier New', Courier, monospace;
}

.me-section .description > p{
    font-size: 1rem;
    line-height: 1.6;
}
.me-section .description {
    opacity: 0;
    width: 350px;
    height:300px;
    border-radius: 2px;
    background-color: var(--border);
    font-size: 1rem;
    color: var(--meDesc);
    font-family: sans-serif;
    padding: 10px 25px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
}

.me-section .top-left:hover > .description , .me-section .top-right:hover > .description, .me-section .bottom-left:hover > .description ,  .me-section .bottom-right:hover > .description{
    opacity:1;
    transition: ease-in-out 0.3s;
}
.me-section .top-left:hover, .me-section .top-right:hover, .me-section .bottom-left:hover, .me-section .bottom-right:hover {
    animation: none;
}
.me-section .title{
    color: var(--title);
    display: flex;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
}
svg{
    fill: var(--subtitle);
}







@media (max-width:680px) {
    section .main-image{
        width: 100%;
    }
}

@media (max-width:700px) {
    .me-section div .bottom-right{
        left: 100px;
    }
    .me-section div{
        display: inline;
        left: 60px;
    }
}
@media (max-width:840px) {
.prg > span{
        font-size: 0.7rem;
        padding:0;
        margin: 0;
    }
    .me-section .description {
        width: 150px;
        height: 600px;
    }
    .me-section .description  > h3{
        font-size: 1.2rem;
    }
}

@media (max-width:840px) {
.me-section .description{
    width: 100px;
    height: 940px;
}
}